.carte1{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color:  hsl(236, 72%, 79%);
    width: 350px;
    height: 450px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    padding: 15px 25px;
}
h3{
   padding: 30px 10px;
}
h1{
    font-size: 50px;  
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
h1 span{
    font-size: 35px;
    padding: 10px 5px;
}


.listes li{
    list-style-type: none;
   padding: 15px;
    border-top: 1px solid #fff; 
    border-bottom: 1px solid #fff; 
    
}
.listes li a{
   
    color: #fff;
    font-weight: bold; 
}
.btn1{
    padding: 10px;
    margin-top: 25px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: hsl(236, 72%, 79%) ;
    background-color: hsl(240, 78%, 98%);
}
.btn1:hover{
    color: #fff;
    background-color: hsl(236, 72%, 79%);
    border: 1px solid #fff;
}
